<h2>Published in {{ month|date:"F, Y" }}</h2>

<ul>
{% for date in date_list %}
    {% with m=date|date:"m" d=date|date:"d" %}
    <li>
        <a href="{% url 'entry_archive_day' month.year m d %}">{{ date|date:"F jS"}}</a>
    </li>
    {% endwith %}
{% endfor %}
</ul>

<ul>
{% for entry in object_list %}
    <li>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
    </li>
{% endfor %}
</ul>

<p>
{% if previous_month %}
    Previous Month: {{ previous_month|date:"F Y" }}
{% endif %}
{% if next_month %}
    Next Month: {{ next_month|date:"F Y" }}
{% endif %}
</p>
