<h2>Published in {{ year|date:"Y" }}</h2>

<ul>
{% for date in date_list %}
    {% with m=date|date:"m" %}
    <li>
        <a href="{% url 'entry_archive_month' date.year m %}">{{ date|date:"F"}}</a>
    </li>
    {% endwith %}
{% endfor %}
</ul>


{% if previous_year or next_year %}
    <p>
    {% if previous_year %}
        {% with y=previous_year|date:"Y" %}
        <a href="{% url 'entry_archive_year' y %}">{{ previous_year|date:"Y" }}</a>.
        {% endwith %}
        |
    {% endif %}

    {{ year|date:"Y" }}.

    {% if next_year %}
        {% with y=next_year|date:"Y" %}
        <a href="{% url 'entry_archive_year' y %}">{{ next_year|date:"Y" }}</a>.
        {% endwith %}
    {% endif %}
    </p>
{% endif %}
