<h2>Published in {{ month|date:"F, Y" }}</h2>

<ul>
{% for date in date_list %}
    {% with m=date|date:"m" d=date|date:"d" %}
    <li>
        <a href="{% url 'entry_archive_day' month.year m d %}">{{ date|date:"F jS"}}</a>
    </li>
    {% endwith %}
{% endfor %}
</ul>

<ul>
{% for entry in object_list %}
    <li>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
    </li>
{% endfor %}
</ul>


{% if previous_month or next_month %}
    <p>
    {% if previous_month %}
        {% with y=previous_month|date:"Y" m=previous_month|date:"m" %}
        <a href="{% url 'entry_archive_month' y m %}">{{ previous_month|date:"F Y" }}</a>.
        {% endwith %}
    {% endif %}

    {{ month|date:"F, Y" }}.

    {% if next_month %}
        {% with y=next_month|date:"Y" m=next_month|date:"m" %}
        <a href="{% url 'entry_archive_month' y m %}">{{ next_month|date:"F Y" }}</a>.
        {% endwith %}
    {% endif %}
    </p>
{% endif %}
